<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand"><p id="titleText" class="font-effect-3d"><strong>Type Life</strong></p></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
        <li><a href="https://github.com/csmartinez/Type-Life">GitHub</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sources<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://www.google.com/fonts">Google Fonts</a></li>
            <li><a href="https://angularjs.org">Angular JS</a></li>
            <li><a href="http://getbootstrap.com">Bootstrap</a></li>
            <li><a href="https://heroku.com">Heroku</a></li>
            <li class="divider"></li>
            <li><a href="https://bootswatch.com/cosmo/">Bootswatch</a></li>
            <li class="divider"></li>
            <li><a href="http://jscolor.com">JS Color</a></li>
            <li><a href="http://colorfulgradients.tumblr.com">Colorful Gradients</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" data-toggle="modal" data-target="#myModal">
        <li><a>About</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" ng-app="changeExample">

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"><br><br><br><br><br><br><br><br>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><strong>Welcome to Type Life! </strong></h4>
        </div>
        <div class="modal-body">
          Write a journal entry and customize it with colors, sizes and fonts
          that suit you! Coming soon - create an account and save and share your
          creations. <br>Colorful gradients courtesy of Will Burn <a href="http://willburnswebsite.com">http://willburnswebsite.com</a>
          <br><br>
          Written by Carli Martinez 08/04/16
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
        </div>
      </div>
    </div>
  </div>
 	<!-- <h1 class="text-danger" id="pm">Hello {{name}}</h1> -->

  <script>
    angular.module('changeExample', [])
      .controller('ExampleController', ['$scope', function($scope) {
        $scope.counter = "default";
        $scope.change = function() {
          $scope.counter = "font1"
        };
      }]);

  </script>
  <div class="btn-group btn-group-justified">
  <a ng-click="showFonts = !showFonts" class="btn btn-default">Fonts</a>
  <a ng-click="showFontSizesAndColors = !showFontSizesAndColors" class="btn btn-default">Sizes & Colors</a>
  <a ng-click="showBackgrounds = !showBackgrounds" class="btn btn-default">Backgrounds</a>
</div>

<div class="fontButtons" ng-show="showFonts" style="margin-top:20px;">
<input type="button" style="font-family:Permanent Marker" class="btn btn-default" value="Permanent Marker" ng-click="font = 'Permanent Marker'"><input type="button" style="font-family:Homemade Apple" class="btn btn-default" value="Homemade Apple" ng-click="font = 'Homemade Apple'"><input type="button" style="font-family:Montez" class="btn btn-default" value="Montez" ng-click="font = 'Montez'"><input type="button" style="font-family:Niconne" class="btn btn-default" value="Niconne" ng-click="font = 'Niconne'"><input type="button" style="font-family:Walter Turncoat" class="btn btn-default" value="Walter Turncoat" ng-click="font = 'Walter Turncoat'"><input type="button" style="font-family:Cabin Sketch" class="btn btn-default" value="Cabin Sketch" ng-click="font = 'Cabin Sketch'"><input type="button" style="font-family:Gruppo" class="btn btn-default" value="Gruppo" ng-click="font = 'Gruppo'"><input type="button" style="font-family:Cinzel Decorative" class="btn btn-default" value="Cinzel Decorative" ng-click="font = 'Cinzel Decorative'"><input type="button" style="font-family:IM Fell English" class="btn btn-default" value="IM Fell English" ng-click="font = 'IM Fell English'"><input type="button" style="font-family:Six Caps" class="btn btn-default" value="Six Caps" ng-click="font = 'Six Caps'"><input type="button" style="font-family:Yesteryear" class="btn btn-default" value="Yesteryear" ng-click="font = 'Yesteryear'"><input type="button" style="font-family:Diplomata SC" class="btn btn-default" value="Diplomata SC" ng-click="font = 'Diplomata SC'"><input type="button" style="font-family:Faster One" class="btn btn-default" value="Faster One" ng-click="font = 'Faster One'"><input type="button" style="font-family:Metal Mania" class="btn btn-default" value="Metal Mania" ng-click="font = 'Metal Mania'"><input type="button" style="font-family:Modak" class="btn btn-default" value="Modak" ng-click="font = 'Modak'"><input type="button" style="font-family:Monofett" class="btn btn-default" value="Monofett" ng-click="font = 'Monofett'"><input type="button" style="font-family:Montserrat Subrayada" class="btn btn-default" value="Montserrat Subrayada" ng-click="font = 'Montserrat Subrayada'"><input type="button" style="font-family:Patrick Hand SC" class="btn btn-default" value="Patrick Hand SC" ng-click="font = 'Patrick Hand SC'"><input type="button" style="font-family:Pirata One" class="btn btn-default" value="Pirata One" ng-click="font = 'Pirata One'"><input type="button" style="font-family:Bungee Shade" class="btn btn-default" value="Bungee S" ng-click="font = 'Bungee Shade'">
</div>

<div ng-show="showFontSizesAndColors">
  <div class="showSizes">
  <br>
  <div class="btn-toolbar">
    <div class="btn-group">
      <a class="btn btn-default" ng-click="fontSize = 10">10</a>
      <a class="btn btn-default" ng-click="fontSize = 15">15</a>
      <a class="btn btn-default" ng-click="fontSize = 20">20</a>
      <a class="btn btn-default" ng-click="fontSize = 25">25</a>
      <a class="btn btn-default" ng-click="fontSize = 30">30</a>
      <a class="btn btn-default" ng-click="fontSize = 35">35</a>
      <a class="btn btn-default" ng-click="fontSize = 40">40</a>
      <a class="btn btn-default" ng-click="fontSize = 45">45</a>
      <a class="btn btn-default" ng-click="fontSize = 50">50</a>
    </div>
  </div>
</div>

<div class="showColors">
    <h4 style="margin-top:23px; padding-bottom:10px;"><strong>Color: </strong> <input class="jscolor {onFineChange:'update(this)'}" value="7E7E7E"></h4>

    <script>
    function update(jscolor) {
        // 'jscolor' instance can be used as a string
        document.getElementById('text').style.color = '#' + jscolor
    }
    </script>
  </div>
</div>

<div ng-show="showBackgrounds" style="margin-top:80px">
  <a class="btn btn-default btn-sm" ng-click="bgImage = 'spiral'"><%= image_tag("spiralthumb.png", size: "45x45") %></a><a class="btn btn-default btn-sm" ng-click="bgImage = 'gradient1'"><%= image_tag("gradient1thumb.png", size: "45x45") %></a><a class="btn btn-default btn-sm" ng-click="bgImage = 'gradient2'"><%= image_tag("gradient2thumb.png", size: "45x45") %></a><a class="btn btn-default btn-sm" ng-click="bgImage = 'gradient3'"><%= image_tag("gradient3thumb.png", size: "45x45") %></a><a class="btn btn-default btn-sm" ng-click="bgImage = 'gradient4'"><%= image_tag("gradient4thumb.png", size: "45x45") %></a><a class="btn btn-default btn-sm" ng-click="bgImage = 'gradient5'"><%= image_tag("gradient5thumb.png", size: "45x45") %></a><a class="btn btn-default btn-sm" ng-click="bgImage = 'gradient6'"><%= image_tag("gradient6thumb.png", size: "45x45") %></a><a class="btn btn-default btn-sm" ng-click="bgImage = 'gradient7'"><%= image_tag("gradient7thumb.png", size: "45x45") %></a><a class="btn btn-default btn-sm" ng-click="bgImage = 'gradient8'"><%= image_tag("gradient8thumb.png", size: "45x45") %></a><a class="btn btn-default btn-sm" ng-click="bgImage = 'gradient9'"><%= image_tag("gradient9thumb.png", size: "45x45") %></a>
</div>

  <h3 id="pm" class="text-default"><strong>Title:</strong></h3>
    <input type="text" ng-model="title" style="width: 300px;">
  <h3 id="pm" class="text-default"><strong>Body:</strong></h3>
    <textarea id="txtArea" rows="5" cols="80" ng-model="body"></textarea>

  <br>

<h2 class="greyArrows"><span ng-click="margin = 30">➤</span><span ng-click="margin = 110" style="margin-left:60px;">➤</span><span ng-click="margin = 200" style="margin-left:60px;">➤</span><span ng-click="margin = 290" style="margin-left:60px;">➤</span><span ng-click="margin = 380" style="margin-left:60px;">➤</span></h2>

  <div class="textArea" id="text" style="background-image:url('assets/{{bgImage}}.png');">
    <div class="text" style="margin-left:{{margin}}px;">
      <p class="{{fontColor}}" style="font-family:{{font}};font-size:{{fontSize}}pt;">{{title}}</h1>
      <p class="{{fontColor}}" style="font-family:{{font}};font-size:25pt;">{{body}}</h1>
    </div>
  </div>
</div>
